@* upsert Template File *@
@(user: models.User)

@publica.publicLookAndFeel("Showing an user", 3) {
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>User</h2>
			</div>
			<div class="col-md-4">
				<div class="pull-right">
					<div id="editPencil">
						<i id="editModeIcon" class="glyphicon glyphicon-pencil yellow"></i>
						<a id="viewModeIcon" href="#" data-toggle="tooltip" data-placement="top" title="Edit">
							<i class="glyphicon glyphicon-lock yellow" data-toggle="tooltip" data-placement="top" title="Edit"></i>
						</a>
						<script type="text/javascript">
							$(function(){
								$('[data-toggle="tooltip"]').tooltip();
								 $("#viewModeIcon").click(function () {     
							        	editModeForm();
							        	return false;
							        });
							});
						</script>
					</div>
				</div>
			</div>
		</div>
		<form role="form" id="form" method="POST" action="@routes.UserPublicController.saveUser()">
			<input type="hidden" name="id" value="@user.getId"></input>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" value="@user.getEmail" disabled>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="password" value="@user.getPassword" disabled>
					</div>
				</div>
				<div class="col-md-3" id="repassword">
					<div class="form-group">
						<label for="repassword">Confirm password:</label>
						<input type="password" class="form-control" name="repassword" placeholder="repassword" value="@user.getPassword" disabled>
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="firstname">First Name:</label>
						<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" value="@user.getFirstname" disabled>
					</div>
				</div>	
				<div class="col-md-3">
					<div class="form-group">
						<label for="lastname">Last Name:</label>
						<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" value="@user.getLastname" disabled>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="dob">Date of birth:</label>
						<div id="editDob">
							<div class="input-group date" id="dateOfBirth" data-date-format="YYYY-MM-DD">
								<input type='text' id="dob" name="dob" class="form-control" placeholder="yyyy-mm-dd" value="@user.getDob"/>
			                    <span class="input-group-addon"><span id="dobCalendar" class="glyphicon glyphicon-calendar"></span>
			                    </span>
							</div>
							<script type="text/javascript">
								$('#dateOfBirth').datetimepicker({
				                    pickTime: false
				                });
							</script>
						</div>
						<div id="viewDob">
							<input type="text" class="form-control" value="@user.getDob" disabled>
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="form-group">
						<label for="telephone">Telephone:</label>
						<input type="text" class="form-control" id="telephone" name="telephone" placeholder="Telephone" value="@user.getTelephone" disabled>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="address1">Address:</label>
						<input type="text" class="form-control" id="address1" name="address1" placeholder="Address 1" value="@user.getAddress1" disabled>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" id="address2" name="address2" placeholder="Address 2" value="@user.getAddress2" disabled>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="town">Town:</label>
						<input type="text" class="form-control" id="town" name="town" placeholder="Town" value="@user.getTown" disabled>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="postcode">Postcode:</label>
						<input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode" value="@user.getPostcode" disabled>
					</div>
				</div>	
			</div>
			<br>
			<div class="row">
				<div id="saveCancelButtons">
					<div class="col-md-3">
						&nbsp;	
					</div>
					<div class="col-md-1">
						<a id="submit" href="#"><i class="glyphicon glyphicon-ok green"></i> Save</a>
						
					</div>
					<div class="col-md-1">
						<a href="@routes.UserPublicController.showCurrentUser()"><i class="glyphicon glyphicon-remove red"></i> Cancel</a>
					</div>
				</div>
				<script type="text/javascript">
					$("#submit").click(function(e){
					    $("#form").submit();
					});
				</script>
				
			</div>
		</form>
	</div>
	<script type="text/javascript" src='@routes.Assets.at("js/private/userForm.min.js")'></script>
	<script type="text/javascript">
		viewModeForm();
	</script>
}