@* listAll Template File *@
@(products :List[Product])

@views.html.publica.publicLookAndFeel("Showing products", 1) {
	<div class="col-md-6">
		<h2>Products</h2>
		
		<div class="generalTableHeight">		
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>&nbsp;</td>
							<td>Name</td>
							<td>Description</td>
							<td>Cost</td>
						</tr>
					</thead>
					<tbody>
						@for(product <- products){ 
							<tr>
								<td>
									<div class="miniProductImg">
										<img class="minImg" src="@routes.Assets.at("img/noImage.png")">
									</div>
								</td>
								<td>
									<a href="@controllers.publica.routes.ProductsPublicController.showProduct(product.getId)">
										@product.getName
									</a>
								</td>
								<td class="setSizeOverflow300">
									<span> 
										@product.getDescription
									</span>
								</td>
								<td>@product.getCost</td>								
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
}
