@* listAll Template File *@
@(products :List[Product])

@views.html.publica.publicLookAndFeel("Showing products", 1) {
	<div class="col-md-12">
		<h2>Products</h2>
		
		<div class="generalTableHeight">		
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Id</td>
							<td>Name</td>
							<td>Description</td>
							<td>Cost</td>
							<td class="miniCol">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</thead>
					<tbody>
						@for(product <- products){ 
							<tr>
								<td>@product.getId</td>
								<td>@product.getName</td>
								<td>@product.getDescription</td>
								<td>@product.getCost</td>
								<td>
									<input type="text" class="form-control quantity" id="quantity@product.getId" placeholder="0"" value="0">
								</td>
								<td>
									<a href="javascript:buy(@product.getId)">add to Cart</a>
								</td>
							</tr>
						}
						<form method="POST" id="buy" action="@controllers.publica.routes.ShoppingCartController.addToCart"> 
							<input type="hidden" id="productId" name="productId" value="0"/>
							<input type="hidden" id="quantity" name="quantity" value="0"/>
						</form>
						<script type="text/javascript">
						function buy(id){
							$("#productId").val(id);
							$("#quantity").val($("#quantity"+id).val());
							
							$("#buy").submit();
						}
						
						$(function(){
							$('[data-toggle="confirmation"]').confirmation({singleton:true});
							$('[data-toggle="tooltip"]').tooltip();
						});
						</script>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
}
